form {
    margin: 10px;
    padding: 30px;
    background: #F5F5F5;
}

label {
    display: block;
    font-weight: bold;
    margin: 15px 0;
}

input {
    padding: 2px;
    border: 1px solid #eee;

    color: #777;
}

textarea {
    width: 400px;
    padding: 2px;
    text-align: justify;
    white-space: normal;
    border: 1px solid #eee;
    height: 100px;
    display: block;
    color: #333;
}

input.buttons {
  
    height: 50px;
    width: 150px;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 50px;
    cursor: pointer;
    color: #333;
    background: #e7e6e6;
    border: 1px solid #dadada;
}
input[type="button"].upload_image_button
{
 width: 100%;
 background-color: aquamarine;
 padding: 13px;
 margin: 10px;

}